<div></div><br>
<div style="text-align: center;"><h2>STET Login</h2></div>
    <br>
    <div class="line"></div>
<div class="margin">
    <div>
        
        <div class="card" style="text-align: center;">
            <div class="card-body">
                <form [formGroup]="password">
                    <!-- <h5>Application Id  </h5>
                        <h4>{{123}}</h4>
                        <div class="line"></div><br> -->
                    <input type="text" class="form-control" placeholder="Application Id" aria-describedby="addon-wrapping" formControlName="_id">
                   <br> <input type="password" class="form-control" placeholder="Password" aria-describedby="addon-wrapping" formControlName="pass1"><br>
                </form>
                    <div style="text-align: center;"><button class="btn getColour" (click)="profile()">Proceed</button></div>
            </div>
          </div>
    </div>