<div></div><br>
<div style="text-align: center;"><h5>STET Login</h5></div>
    <br>
    <div class="line"></div>
<div class="margin">
    <div>
          <div class="form-group card" style="text-align: center;">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Application Id" name="_id" [(ngModel)]="_id"><br>
                <input type="text" class="form-control" placeholder="Password" name="password" [(ngModel)]="password"><br>
                <div style="text-align: center;"><button class="btn getColour" (click)="profile()">Proceed</button></div>
                
            </div>
          </div>
    </div>
