.getColour {
	background-color: #3f51b5;
	color: white;
}

.line {
    width: 100%;
    height: 4px;
    background-color: #3f51b5;
}

.margin {
    margin: 2%;
}

[_nghost-nla-c0] {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: 
    #808080 !important; 
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}