<div class="getColour">
	<ul class="nav">
		<li class="nav-item">
			<button type="button" class="btn getColour" (click)="login()">Login</button>
		</li>
		<li class="nav-item">
			<button type="button" class="btn getColour" (click)="logReg()">Register</button>
		</li>
		<li class="nav-item">
			<button type="button" class="btn getColour" (click)="login()">Admit Card</button>
		</li>
		<li class="nav-item">
			<button type="button" class="btn getColour" (click)="login()">Result</button>
		</li>
	  </ul>
</div>
<div style="margin: 4%;">
	
	<div class="card text-white bg-secondary mb-3">
		<div class="card-body">
			<h3 class="card-title">About STET</h3>
			  <p>The Human Resource Development Department (HRDD), Sikkim will be conducting the Sikkim Teacher Eligibility Test (Sikkim HRDD TET 2019). </p>
		  <!-- <div><br></div> -->
		  <!-- <div><br></div> -->
			
			  <div style="text-align: right;"><i class="fas fa-chevron-circle-down fa-2x" data-toggle="collapse" data-target="#holi" aria-expanded="false" aria-controls="collapseExample"></i></div>
		  <!-- <div class="card card-body"> -->
		  <div class="collapse" id="holi">
			  <div class="dropdown-divider"></div>
			  <div><br></div>
				<p>The exam will be conducted in accordance with the provision of Right of Children to Free and Compulsory Education (RTE ACT 2009) and the minimum qualification laid down by NCTE (National Council for Teacher Education).</p>
			  <!-- </div> -->
		</div>
		</div>	
	</div>

	<div class="card text-white bg-secondary mb-3">
		<div class="card-body">
			  <h3 class="card-title">Admit Card</h3>
				<p>The candidates who applied successfully will be able to download the admit card for STET 2019 from the official website. </p>
			  <!-- <div><br></div> -->
			<!-- <div><br></div> -->
			
			  <div style="text-align: right;"><i class="fas fa-chevron-circle-down fa-2x" data-toggle="collapse" data-target="#holi" aria-expanded="false" aria-controls="collapseExample"></i></div>
		  <!-- <div class="card card-body"> -->
		  <div class="collapse" id="holi">
			  <div class="dropdown-divider"></div>
			  <div><br></div>
			<p>The candidates must bring the downloaded admit card to the exam center on the day of examination or else he/she will not be allowed to take the exam.</p>		  
	<!-- </div> -->
		</div>
		</div>	
	</div>

	<div class="card text-white bg-secondary mb-3">
		<div class="card-body">
			  <h3 class="card-title">Result</h3>
				<p>Through this website, the candidates who have successfully appeared for the exam will be able to check their result.</p>
			  <!-- <div><br></div> -->
			<!-- <div><br></div> -->
			
			  <div style="text-align: right;"><i class="fas fa-chevron-circle-down fa-2x" data-toggle="collapse" data-target="#holi" aria-expanded="false" aria-controls="collapseExample"></i></div>
		  <!-- <div class="card card-body"> -->
		  <div class="collapse" id="holi">
			  <div class="dropdown-divider"></div>
			  <div><br></div>
			<p> All candidates who pass the test will be provided the certificate of eligibility.</p>
			  <!-- </div> -->
		</div>
		</div>	
	</div>
		
	
	</div>